p{

    color: black;
    text-align: center;
    
    
    }
    
    body{
    
    background-image: url(/Users/milka/Desktop/DSI.2/cafe.jpg);

    
    }
    
    h1{
    
    color: black;
    text-align: center;
    
    }